@using BeRated.App
@using BeRated.Model

@model PlayerStats

@{
    Layout = "/Layout";
    ViewBag.Title = Model.Name;
}

@functions {
	string Round(decimal? number)
	{
		if (number.HasValue)
			return number.Value.ToString("0.00");
		else
			return string.Empty;
	}
}

@section Stylesheets {
	<link rel="stylesheet" type="text/css" href="/Stylesheets/Player.css">
}

@section Scripts {
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
}

<script>
	$(function() {
		$("#playerTabs").tabs();
	});
</script>
<div id="playerTabs">
	<ul><li><a href="#games">Match history</a></li><li><a href="#weapons">Weapons used</a></li><li><a href="#purchases">Item purchases and weapon efficiency</a></li><li><a href="#encounters">Performance against individual players</a></li></ul>
	<div class="rightSide">
		<h1>@Model.Name</h1>
		<table id="games">
			<tr>
				<th>Time</th>
				<th>Outcome</th>
				<th>Score</th>
				<th>Matchup</th>
			</tr>
			@foreach (var game in Model.Games)
			{
				<tr>
					<td>@game.GameTime</td>
					<td><span class="@game.Outcome">@Helper.Outcome(game.Outcome)</span></td>
					<td>@game.PlayerScore - @game.EnemyScore</td>
					<td>@Helper.PlayerList(game.PlayerTeamList, Model.Days) vs. @Helper.PlayerList(game.EnemyTeamList, Model.Days) <a href="/Matchup?team1=@Helper.PlayerIds(game.PlayerTeamList)&team2=@Helper.PlayerIds(game.EnemyTeamList)" title="Analyze this matchup"><i class="fa fa-search"></i></a></td>
				</tr>
			}
		</table>
		<table class="sortable numericTable" id="encounters">
			<tr>
				<th class="string">Opponent</th>
				<th>Encounters</th>
				<th>Kills</th>
				<th>Deaths</th>
				<th>Win ratio</th>
			</tr>
			@foreach (var player in Model.Encounters)
			{
				<tr>
					<td>@Helper.PlayerLink(player.OpponentId, player.OpponentName, Model.Days)</td>
					<td>@player.Encounters</td>
					<td>@player.Kills</td>
					<td>@player.Deaths</td>
					<td>@RatingApp.GetPercentage(player.WinRatio)</td>
				</tr>
			}
		</table>
		<table class="sortable numericTable" id="weapons">
			<tr>
				<th class="string">Weapon</th>
				<th>Kills</th>
				<th>Headshots</th>
				<th>Headshot kill ratio</th>
			</tr>
			@foreach (var weapon in Model.Weapons) {
				<tr>
					<td>@weapon.Weapon</td>
					<td>@weapon.Kills</td>
					<td>@weapon.Headshots</td>
					<td>@RatingApp.GetPercentage(weapon.HeadshotRatio)</td>
				</tr>
			}
		</table>
		<table class="sortable numericTable" id="purchases">
			<tr>
				<th class="string">Item</th>
				<th>Times purchased</th>
				<th>Purchases per round</th>
				<th>Kills per purchase</th>
			</tr>
			@foreach (var item in Model.Purchases) {
				<tr>
					<td>@item.Item</td>
					<td>@item.TimesPurchased</td>
					<td>@Round(item.PurchasesPerRound)</td>
					<td>@Round(item.KillsPerPurchase)</td>
				</tr>
			}
		</table>
    </div>
</div>