@using BeRated.App
@using BeRated.Model

@model PlayerEncounters

@{
    Layout = "/Layout";
    ViewBag.Title = Model.Name;
    ViewBag.SteamId = Model.SteamId;
}

<table class="sortable numericTable grid">
    <tr>
        <th data-column-type="string">Opponent</th>
        <th>Encounters</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Win ratio</th>
    </tr>
    @foreach (var player in Model.Encounters)
    {
        <tr>
            <td>@Helper.GetPlayerLink(player)</td>
            <td>@player.Encounters</td>
            <td>@player.Kills</td>
            <td>@player.Deaths</td>
            <td>@Helper.Percentage(player.WinRatio)</td>
        </tr>
    }
</table>