@using BeRated.App
@using BeRated.Model
@using System.Collections.Generic

@model List<Game>

@{
    Layout = "/Layout";
    ViewBag.Title = "Games";
}

<table class="grid dateGrid playerList">
    <tr>
        <th>Time</th>
        <th>Map</th>
        <th>Score</th>
        <th>Counter-Terrorists</th>
        <th>Terrorists</th>
    </tr>
    @foreach (var game in Model)
    {
        <tr>
            <td>@game.Time.ToString("g")</td>
            <td>@Helper.GetGameLink(game.Id, game.Map)</td>
            <td>@Helper.GetScore(game)</td>
            <td>@Helper.GetPlayerList(game.CounterTerrorists, false)</td>
            <td>@Helper.GetPlayerList(game.Terrorists, true)</td>
        </tr>
    }
</table>