@using BeRated.App
@using BeRated.Common
@using BeRated.Model
@using System.Collections.Generic

@model Game

@{
    Layout = "/Layout";
    ViewBag.Title = string.Format("Game {0}", Model.Id);
}

@helper TeamTable(string playerDescription, string className, List<PlayerGameInfo> team)
{
    <table class="sortable grid teamPlayers @className">
        <tr>
            <th data-column-type="string">@playerDescription</th>
            <th>Kills</th>
            <th>Deaths</th>
        </tr>
        @foreach (var player in team)
        {
            <tr>
                <td>@Helper.GetPlayerLink(player)</td>
                <td>@player.Kills</td>
                <td>@player.Deaths</td>
            </tr>
        }
    </table>
}

<table class="description">
    <tr>
        <td>Time</td>
        <td>@Model.Time</td>
    </tr>
    <tr>
        <td>Map</td>
        <td>@Model.Map</td>
    </tr>
    <tr>
        <td>Score</td>
        <td>@Helper.GetScore(Model)</td>
    </tr>
</table>

<h1>Players</h1>
@TeamTable("Counter-Terrorist", "counterTerrorists", Model.CounterTerrorists)
<div class="matchup">
    <a href="/Matchup?team1=@Helper.GetPlayerIds(Model.CounterTerrorists)&team2=@Helper.GetPlayerIds(Model.Terrorists)">Analyze this matchup</a>
</div>
@TeamTable("Terrorist", "terrorists", Model.Terrorists)

<h1>Rounds</h1>
<table class="grid gameKills">
    <tr>
        <th>Kills</th>
        <th>Winner</th>
        <th>Score</th>
    </tr>
    @foreach (var round in Model.Rounds)
    {
        <tr>
            <td>
                <ul>
                    @foreach (var kill in round.Kills)
                    {
                        <li>@Helper.GetPlayerLink(kill.Killer, kill.KillerTeam == Team.Terrorist) killed @Helper.GetPlayerLink(kill.Victim, kill.KillerTeam != Team.Terrorist) with "@kill.Weapon"</li>
                    }
                </ul>
            </td>
            <td>@Helper.GetTeam(round.Winner)</td>
            <td>@Helper.GetScore(round.CounterTerroristScore, round.TerroristScore)</td>
        </tr>
    }
</table>