@using BeRated.App
@using BeRated.Model
@using System.Collections.Generic
@using System.Linq

@model List<Game>

@{
    Layout = "/Layout";
    ViewBag.Title = "Games";
}

<table class="grid dateGrid gameGrid">
    <tr>
        <th>Time</th>
        <th>Map</th>
        <th>Score</th>
        <th>Player</th>
        <th>Kills</th>
        <th>Deaths</th>
        <th>Details</th>
    </tr>
    @foreach (var game in Model)
    {
        var rows = Helper.GetTeamRows(game.CounterTerrorists, game.Terrorists);
        int count = rows.Count;
        <tr>
            <td rowspan="@count">@game.Time.ToString("g")</td>
            <td rowspan="@count">@game.Map</td>
            <td rowspan="@count" class="scoreCell"><span class="@Helper.GetScoreClasses("counterTerroristScore", game.CounterTerroristScore, game.TerroristScore)">@game.CounterTerroristScore</span> - <span class="@Helper.GetScoreClasses("terroristScore", game.TerroristScore, game.CounterTerroristScore)">@game.TerroristScore</span></td>
            @rows.First()
            <td rowspan="@count" class="detailsCell"><a href="/Matchup?team1=@Helper.PlayerIds(game.CounterTerrorists)&team2=@Helper.PlayerIds(game.Terrorists)">Analyze matchup</a></td>
        </tr>
        foreach (var row in rows.Skip(1))
        {
            <tr>
                @row
            </tr>
        }
    }
</table>