@using BeRated.App

@helper GetPlayerLink(string controller, string description = null) {<a href="/@controller?id=@ViewBag.SteamId">@(description ?? controller)</a>}

<!doctype html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link rel="icon" href="/Images/Favicon.ico">
        <link rel="stylesheet" type="text/css" href="/Stylesheets/Layout.css">
		@RenderSection("Stylesheets", false)
        <script src="/Scripts/Table.js"></script>
        <script src="/Scripts/TimeConstraints.js"></script>
		@RenderSection("Scripts", false)
    </head>
    <body>
        <div class="menu">
            <ul>
                <li><a href="/Players">Players</a></li>
                <li><a href="/Teams">Teams</a></li>
                <li><a href="/Games">Games</a></li>
                <li>
                    <select>
                        @foreach (var preset in TimeConstraintPreset.Presets)
                        {
                            <option value="@preset.InternalName">@preset.Description</option>
                        }
                    </select>
                </li>
            </ul>
        </div>
        <div class="content">
            <h1>@ViewBag.Title</h1>
            @if (ViewBag.SteamId != null)
            {
                <ul class="playerMenu">
                    <li>@GetPlayerLink("Player", "Overview")</li><li>@GetPlayerLink("Matches")</li><li>@GetPlayerLink("Encounters")</li><li>@GetPlayerLink("Weapons")</li><li>@GetPlayerLink("Items", "Items purchased")</li>
                </ul>
            }
            @RenderBody()
        </div>
    </body>
</html>