@helper PlayerLink(string controller, string description = null)
{
    <a href="/@controller?id=@ViewBag.SteamId">@(description ?? controller)</a>
}

<!doctype html>
<html>
    <head>
        <title>@ViewBag.Title - CS:GO Stats</title>
        <link rel="icon" href="/Images/Favicon.ico">
        <link rel="stylesheet" type="text/css" href="/Stylesheets/Layout.css">
		@RenderSection("Stylesheets", false)
        <script src="/Scripts/Table.js"></script>
		@RenderSection("Scripts", false)
    </head>
    <body>
        <div class="menu">
            <ul>
                <li><a href="/Players">Players</a></li>
                <li><a href="/Teams">Teams</a></li>
            </ul>
        </div>
        <div class="content">
            @if (ViewBag.SteamId != null)
            {
                <ul class="playerMenu">
                    <li>@PlayerLink("Player", "Games")</li>
                    <li>@PlayerLink("Encounters")</li>
                    <li>@PlayerLink("Weapons")</li>
                    <li>@PlayerLink("Items", "Items purchased")</li>
                </ul>
            }
            @RenderBody()
        </div>
    </body>
</html>