@using BeRated.App

@helper PlayerLink(string controller, string description = null) {<a href="/@controller?id=@ViewBag.SteamId">@(description ?? controller)</a>}

<!doctype html>
<html>
    <head>
        <title>@ViewBag.Title</title>
        <link rel="icon" href="/Images/Favicon.ico">
        <link rel="stylesheet" type="text/css" href="/Stylesheets/Layout.css">
		@RenderSection("Stylesheets", false)
        <script src="/Scripts/Table.js"></script>
        @if (ViewBag.SteamId != null)
        {
            <script src="/Scripts/TimeConstraints.js"></script>
        }
		@RenderSection("Scripts", false)
    </head>
    <body>
        <div class="menu">
            <ul>
                <li><a href="/Players">Players</a></li>
                <li><a href="/Teams">Teams</a></li>
                <li><a href="/Games">Games</a></li>
            </ul>
        </div>
        <div class="content">
            <h1 class="title">@ViewBag.Title</h1>
            @if (ViewBag.SteamId != null)
            {
                <ul class="playerMenu">
                    <li>@PlayerLink("Player", "Games")</li><li>@PlayerLink("Encounters")</li><li>@PlayerLink("Weapons")</li><li>@PlayerLink("Items", "Items purchased")</li>
                    <li>
                        <select>
                            @foreach (var preset in TimeConstraintPreset.Presets)
                            {
                                <option value="@preset.InternalName">@preset.Description</option>
                            }
                        </select>
                    </li>
                </ul>
            }
            @RenderBody()
        </div>
    </body>
</html>