@using BeRated.App
@using BeRated.Model

@model Matches

@{
    Layout = "/Layout";
    ViewBag.Title = Model.Name;
    ViewBag.SteamId = Model.SteamId;
}

<table class="grid dateGrid playerList">
    <tr>
        <th>Time</th>
        <th>Map</th>
        <th>Outcome</th>
        <th>Score</th>
        <th>Match rating</th>
        <th>Kill rating</th>
        <th>Team</th>
        <th>Enemy team</th>
    </tr>
    @foreach (var game in Model.Games)
    {
        <tr>
            <td>@game.Time.ToString("g")</td>
            <td>@Helper.GetGameLink(game.Id, game.Map)</td>
            <td><span class="@Helper.LowerCase(game.Outcome.ToString())">@Helper.GetOutcome(game.Outcome)</span></td>
            <td>@game.PlayerScore - @game.EnemyScore</td>
            <td>@Helper.GetRating(game.MatchRating)</td>
            <td>@Helper.GetRating(game.KillRating)</td>
            <td>@Helper.GetPlayerList(game.PlayerTeam, game.IsTerrorist)</td>
            <td>@Helper.GetPlayerList(game.EnemyTeam, !game.IsTerrorist)</td>
        </tr>
    }
</table>