@using BeRated.App
@using BeRated.Model

@model GeneralPlayerStats

@{
    Layout = "/Layout";
    ViewBag.Title = Model.Name;
    ViewBag.SteamId = Model.SteamId;
}

<table class="description">
    <tr>
        <td>Kills per round</td>
        <td>@Helper.Round(Model.KillsPerRound)</td>
    </tr>
    <tr>
        <td>Kill/death ratio</td>
        <td>@Helper.Round(Model.KillDeathRatio)</td>
    </tr>
    <tr>
        <td>Kills</td>
        <td>@Model.Kills</td>
    </tr>
    <tr>
        <td>Assists</td>
        <td>@Model.Assists</td>
    </tr>
    <tr>
        <td>Deaths</td>
        <td>@Model.Deaths</td>
    </tr>
    <tr>
        <td>Games won</td>
        <td>@Helper.Percentage(Model.GameWinRatio)</td>
    </tr>
    <tr>
        <td>Games played</td>
        <td>@Model.GamesPlayed</td>
    </tr>
    <tr>
        <td>Rounds won</td>
        <td>@Helper.Percentage(Model.RoundWinRatio)</td>
    </tr>
    <tr>
        <td>Rounds played</td>
        <td>@Model.RoundsPlayed</td>
    </tr>
    @if (Model.FirstRoundTime != null)
    {
        <tr>
            <td>Playing since</td>
            <td>@Model.FirstRoundTime</td>
        </tr>
    }
    @if (Model.LastRoundTime != null)
    {
        <tr>
            <td>Last played</td>
            <td>@Model.LastRoundTime</td>
        </tr>
    }
</table>