@using BeRated.App
@using BeRated.Model

@model PlayerGames

@{
    Layout = "/Layout";
    ViewBag.Title = Helper.GetTitle("Games", Model.Name);
    ViewBag.SteamId = Model.SteamId;
}

<table class="grid dateGrid playerList">
	<tr>
		<th>Time</th>
		<th>Outcome</th>
		<th>Score</th>
		<th>Team</th>
        <th>Enemy team</th>
        <th>Details</th>
	</tr>
	@foreach (var game in Model.Games)
	{
		<tr>
			<td>@game.Time.ToString("g")</td>
			<td><span class="@Helper.LowerCase(game.Outcome.ToString())">@Helper.Outcome(game.Outcome)</span></td>
			<td>@game.PlayerScore - @game.EnemyScore</td>
            <td>@Helper.MultiLinePlayerList(game.PlayerTeam)</td>
            <td>@Helper.MultiLinePlayerList(game.EnemyTeam)</td>
            <td><a href="/Matchup?team1=@Helper.PlayerIds(game.PlayerTeam)&team2=@Helper.PlayerIds(game.EnemyTeam)">Analyze matchup</a></td>
		</tr>
	}
</table>