@using BeRated.App
@using BeRated.Model

@model PlayerGames

@{
    Layout = "/Layout";
    ViewBag.Title = string.Format("{0} - Profile", Model.Name);
}

<table id="games">
	<tr>
		<th>Time</th>
		<th>Outcome</th>
		<th>Score</th>
		<th>Matchup</th>
	</tr>
	@foreach (var game in Model.Games)
	{
		<tr>
			<td>@game.Time.ToString("g")</td>
			<td><span class="@game.Outcome">@Helper.Outcome(game.Outcome)</span></td>
			<td>@game.PlayerScore - @game.EnemyScore</td>
			<td>@Helper.PlayerList(game.PlayerTeam) vs. @Helper.PlayerList(game.EnemyTeam) <a href="/Matchup?team1=@Helper.PlayerIds(game.PlayerTeam)&team2=@Helper.PlayerIds(game.EnemyTeam)" title="Analyze this matchup"><i class="fa fa-search"></i></a></td>
		</tr>
	}
</table>