@using BeRated.App
@using BeRated.Model

@model PlayerWeapons

@{
    Layout = "/Layout";
    ViewBag.Title = Model.Name;
    ViewBag.SteamId = Model.SteamId;
}

<table class="sortable numericTable grid">
    <tr>
        <th data-column-type="string">Weapon</th>
        <th>Kills</th>
        <th>Headshot kills</th>
        <th>Headshot kill ratio</th>
        <th>Penetration kills</th>
        <th>Penetration kill ratio</th>
    </tr>
    @foreach (var weapon in Model.Weapons) {
    <tr>
        <td>@weapon.Weapon</td>
        <td>@weapon.Kills</td>
        <td>@weapon.HeadshotKills</td>
        <td>@Helper.Percentage(weapon.HeadshotKillRatio)</td>
        <td>@weapon.PenetrationKills</td>
        <td>@Helper.Percentage(weapon.PenetrationKillRatio)</td>
    </tr>
    }
</table>